langchain
langchain-community
langchain-google-genai
langchain-google-vertexai
google-genai
langchain-experimental
langgraph
sqlalchemy
pymysql
python-dotenv
pyodbc
streamlit
docx2txt
pypdf
sentence-transformers
python-docx
reportlab
chromadb
google-cloud-aiplatform
gdown
matplotlib
pillow
requests
beautifulsoup4
lxml
schedule
fastapi
uvicorn[standard]
python-multipart
ag-ui-protocol
copilotkit
pip install pandasai google-generativeai